<body>

<!-- Intentos de Parallax
<div class="parallax">
  <div class="parallax__layer parallax__layer--back">
  </div>
  <div class="parallax__layer parallax__layer--base">
    <h1>Kostya</h1>
  </div>
</div>

<section id="intro" class="homeSlide">
  <div class="bcg container"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#intro">

      <div class="hsContainer">
          <div class="hsContent"
              data-center="opacity: 1"
              data-106-top="opacity: 0"
              data-anchor-target="#intro h1">
              <h1>Kostya</h1>
          </div>
      </div>
  </div>
</section>-->

<section id="intro">
  <div class="container-fluid">
    <div class="row kostya centered">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <%= image_tag "luna.png", class: "img-responsive luna"%>
      </div> 
      <div class="col-md-4 col-sm-4 col-xs-4">
        <h1>Kostya</h1>
      </div> 
      <div class="col-md-4 col-sm-4 col-xs-4">
        <%= image_tag "cometa.png", class: "img-responsive cometa"%>
      </div>  
    </div> <!-- /row -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2>Parsi Fal</h2>
        <h2>Alpar Sif</h2>
        <h2>Arsif Alp</h2>
        <h2><strong>FAL PARSI</strong></h2>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->   

  <div class="container-fluid">
    <div class="row nubes centered">  
      <div class="col-md-4 col-sm-4 col-xs-4">
        <%= link_to (image_tag "team/pablo.jpg", class: "img-responsive center-block teammate"), "#victoria", class: "popup-with-zoom-anim"%>

        <h3>Victoria</h3>
            <div id="victoria" class="zoom-anim-dialog mfp-hide small-dialog">
            <h3>Victoria</h3>
            <p class="rol">Mi nombre es Pablo y mi pasión es aprender.<BR>Creo firmemente que el emprendimiento junto con los principios de una sociedad libre son el camino hacia una Guatemala prospera. Por ello he decidido dedicar mis esfuerzos a la creación de proyectos empresariales que atiendan problemas sociales de forma sostenible y a largo plazo.  También me gustan los seguros, lo británico y las piñas.</p>
            </div>
      </div>  
    </div> <!-- /row --> 
  </div> <!-- /container -->
</section> <!-- /intro -->

<section id="emisario">
  <div class="container">
    <div class="row centered">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Emisario</h3>
      </div>
    </div>
  </div> <!-- /container -->
</section> <!-- /emisario -->

<section id="letanias">
  <div class="container">
    <div class="row centered">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Letanías</h3>
      </div>
    </div>
  </div> <!-- /container -->
</section> <!-- /letanias -->

<section id="granadino">
  <div class="container">
    <div class="row centered">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Granadino</h3>
      </div>
    </div>
  </div> <!-- /container -->
</section> <!-- /granadino -->

<section id="poemaazul">
  <div class="container">
    <div class="row centered">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2>Azul Poema</h2>
        <h2>Poazu Emal</h2>
        <h2>Ulpo Emazu</h2>
        <h2 class="bold">Poema Azul</h2>
      </div>
    </div>
  </div> <!-- /container -->
</section> <!-- /poemaazul -->

<div class="line"></div>

<div id="izquierda"></div>
<div id="derecha"></div>
<div id="arriba"></div>
<div id="abajo"></div>

</body>

<footer>
  <div class="container centered">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h2 class="copyright">Nacho Galindo</h2>
      </div> 
    </div>  
  </div>
</footer>