@font-face {
font-family: 'Open Sans', sans-serif;
}

@font-face {
font-family: 'Raleway', sans-serif;
}

@font-face {
  font-family: 'Gotham Light';
  src: url(font-path('gotham_light/gotham_light.ttf')) format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(font-path('proxima_nova/proxima_nova_bold.otf')) format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(font-path('proxima_nova/proxima_nova_light.otf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(font-path('HelveticaNeue.dfont')) format('opentype');
  font-weight: 200;
  font-style: normal;
}



