/* ========================================================================
   Custom styles
   ========================================================================== */

/* Overall */
$primary-color: #fff; // white
$black: #333;
$grey: #999;
$background-grey: #f2f2f2;

body, html { height: 100%; width: 100%; font-size: 1.5rem; }

@media (max-width: 767px) {
  body, html { height: 100%; width: 100%; font-size: 1.2rem; }
}

body {
  letter-spacing: -0.02rem;
  line-height: 1.33;
  color: $primary-color;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Spacing */
section {
  padding: 2rem 0;
}

.container-fluid {
  padding: 0rem;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.no-padding {
  padding: 0;
}

.line {
  height: 1px;
  background-color: $primary-color;
  margin: 0 5rem 0 5rem;
}

#arriba, #abajo, #izquierda, #derecha {
  background-color: white;
  position: fixed;
  }
  #izquierda, #derecha {
    top: 0; bottom: 0;
    width: 0.5rem;
    }
    #izquierda { left: 0; }
    #derecha { right: 0; }
    
  #arriba, #abajo {
    left: 0; right: 0;
    height: 0.5rem;
    }
    #arriba { top: 0; }
    #abajo { bottom: 0; }

/* Titles and Derivatives */
h1, h2, h3, h4, h5 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase; 
  margin-top: 11rem;
}

h2 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 0.9rem;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase; 
  text-align: center;
  letter-spacing: 0.6rem;
}

h3 {
  font-weight: 800;
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0 0.2rem 0;
  text-align: center;
  letter-spacing: 0rem;
  text-shadow: 2px 2px 8px #999;
}


h4 {
  color: white;
  font-size: 1.25rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  margin: 0 0 3rem 0;
  line-height: 2rem;
}

h5 {
  color: white;
  text-transform: none;
  font-size: 1.2rem;
  font-weight: 800;
  margin: 1rem 0 1.5rem 0;
  letter-spacing: 0rem;
  text-transform: none;
}


/* Paragraph & Typographic */
p {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
  color: black;
  margin: 0 0 2rem 0;
}

.programa {
  font-size: 1.2rem;
}

.rol {
  font-weight: 100;
  font-size: 1.1rem;
  color: black;
  text-align: center;
  margin: 0.3rem 0 1.5rem 0;
  letter-spacing: 0rem;
}

.inciso {
  text-align: left;
  margin: 0.3rem 0 0.3rem 0;
}

/* Links */
a {
  font-size: 1.25rem;
  color: $black;
  word-wrap: break-word;
}

a.white {
  color: #fff;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

a:hover, a:focus {
  outline: 0;
  opacity: 0.8;
  text-decoration: none;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

.row {
  margin: 0px;
}

.teammate {
  margin-top: 1rem;
  height: 8rem;
  width: auto; 
  border-radius: 150px;
  border: 2px solid transparent; 
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; 
}

.teammate:hover { 
  /* border: 2px solid $primary-color; */
  opacity: 0.8; 
} 

.cualidad {
  margin-bottom: 2rem;
  margin-top: 2rem;
  height: 3rem;
  width: auto; 
} 

.tigo {
  height: 10rem;
  width: auto;
  float: right;
    @media (max-width: 1199px) {
    float: none;
    margin-right: auto;
    margin-left: auto
  }
}

.overlay {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.overlay:hover {
  opacity: 0.7;
}

/* Images */
#intro {
  background-image:url(/assets/atardecer.png);
}

.kostya {
  background-image:url(/assets/estrellas.png);
}

.luna {
  margin-top: 10rem;
  float: right;
  @media (min-width: 750px) {
    height: 9rem;
    width: auto;
    margin-right: 1.5rem;
  }
  @media (max-width: 750px) {
    margin-top: 15rem;
    height: 9rem;
    width: auto;
  }
}

.cometa {
margin-top: 14rem;
  @media (min-width: 750px) {
    height: 4rem;
    width: auto;
    margin-left: 1rem;
  }
  @media (max-width: 750px) {
    margin-top: 16rem;
    height: 3rem;
    width: auto;
  }
}

.sol {
  background-image:url(/assets/sol.png);
  background-repeat: no-repeat;
  background-position: center top;
  margin: 7rem 0 5rem 0;
  @media (max-width: 750px) {
    background-size: 25% auto;
  }
}

.nube {
  padding: 0rem;
}

/* SVG 

.kostya-logo {
  width: 30%;
  padding-bottom: 1rem;
  fill: white;
}

SS Parallax 

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px);
}

.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0;
}

.hsContent {
  max-width: 450px;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: white;
  padding: 0 8%;
  text-align: center
}

.bcg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 500%;
  width: 100%;
} */

